doctype html
html
  head
    title Jaime Ching Full Stack Developer
    meta(charset='utf-8')
    meta(name='description', content='CV Jaime Ching, a full stack developer.')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    link(rel='stylesheet', href='assets/css/main.css')
    noscript
      link(rel='stylesheet', href='assets/css/noscript.css')
  body.is-preloads
  block body-content